@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
}

.main{
  overflow:hidden;
}

input {
  margin-left:50px;
  
}

/* Navbar inspired by https://www.w3schools.com/css/css_navbar_vertical.asp */
.navBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100vh;
  background-color: #E84E36;
  float: left;
  justify-content: space-between;
}

.navBar li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}
/*more nav bar CSS for profiles*/
.navBar h2 {
  color:white;
}
/*lets logout be positioned at the bottom*/

.navBar li {
  margin-right: auto;
}
/* Changes color and jumps out on hover*/
.navBar li a:hover {
  background-color: #BE4332;
  transform: translateY(-2px);
}
/*profile and logo*/
.navBar li .profile {
  padding-top: 4px;
  padding-bottom: 0px;
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}
/*house icon*/
.navBar li img {
  max-width: 25px;
  max-height: 25px;
  align-self:center;
  padding:2px;
}


.home{
  display: inline-grid;
  text-align: center;
}


/*form stuff*/
.form{
  display: inline-grid;
  grid-template-columns: max-content max-content;
  grid-gap:8px;
  padding-top:3vh;
}
.form input{
  border: 2px solid;
  padding: 3px;
  border-radius: 4px;
}
.form label{
  text-align: right;
}
.form h1{
  grid-column: span 2;
}

.form button{
  grid-column: span 2;
  background-color: #1E98D7;
  border: none;
  color: white;
  font-weight: bold;
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
}

.form button:hover{
  background-color: #2788ba;
}

.blueButton{
  grid-column: span 2;
  background-color: #1E98D7;
  border: none;
  color: white;
  font-weight: bold;
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
}

.blueButton:hover{
  background-color: #2788ba;
}

.form .SignUpLink{
  grid-column: span 2;
}


/* Prescription list*/
.prescriptionList{
  display: inline-grid;
  width: 100%;
}

.prescriptionListItem{
  width: 80%;
  display: inline-grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr 0.5fr;
  padding: 10px;
  border: 1px solid rgb(185, 185, 185);
  
}

.prescriptionListItemOld{
  width: 80%;
  display: inline-grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  padding: 10px;
  border: 1px solid rgb(185, 185, 185);
  
}

.prescriptionListItem button{
  background-color: #1E98D7;
  border: none;
  color: white;
  font-weight: bold;
  padding: 16px 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.doctorPrescriptionListItem{
  width: 80%;
  display: inline-grid;
  grid-template-columns: 0.1fr 0.5fr 2fr 1fr 1fr 1fr;
  padding: 10px;
  border: 1px solid rgb(185, 185, 185);
  
}


.searchBox{
  width: 80%; 
  font-size: 16px;
  padding: 13px;
  border: 1px solid rgba(221, 221, 221, 0.863);
  margin-bottom: 5px;
}

/* Treatment plan */
.treatmentPlan{
  display: inline-grid;
  width: 100%;
}

.treatmentPlanItem{
  width: 80%;
  display: inline-grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
  border: 1px solid rgb(185, 185, 185);
  
}

/* loaded Prescription */
.loadedPrescription{
  display: inline-grid;
  grid-template-columns: max-content max-content;
  grid-gap:20px;
  padding: 20px;
  justify-content: start;
  text-align: left;

}

.loadedPrescription button{
  grid-column: span 2;
  background-color: #d7871e;
  border: none;
  color: white;
  font-weight: bold;
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;

}

.loadedPrescription button:hover{
  background-color: #c78335;
}

.span2{
  grid-column: span 2;
}

.radioDiv{
  display: flex;
  align-items: left;
}

.dataGrid{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:7px;
  padding: 10px;
  border: 1px solid rgb(185, 185, 185);
}

.dataGridCol{
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-gap:7px;
  border: 1px solid rgb(185, 185, 185);
}

.dataGridCol li{
  margin-left: -50px;
}

.center{
  text-align: center;
}

.dataGrid ul{
  list-style-type: none;
}

/* popup */
.popup{
  position: fixed;
  text-align: center;
  align-items: center;
  top: 10%;
  left: 35%;
  padding: 20px;
  width: 40%;
  font-size: 30px;
  overflow: hidden;
  background-color: rgb(255, 163, 163);

}

.happyPopup{
  position: fixed;
  text-align: center;
  align-items: center;
  top: 10%;
  left: 35%;
  padding: 20px;
  width: 40%;
  font-size: 30px;
  overflow: hidden;
  background-color: rgb(178, 255, 163);
}

.centerText{
  text-align: center;
}
/* base styles */
* {
  margin: 5;
  font-family: "Quicksand";
  color: #333;
}
